<!-- views/delete.html -->
<form id="delete-form">
    <label for="habit-select">Select Habit:</label>
    <select id="habit-select" name="habit-select">
        {{range .Habits}}
        <option value="{{.ID}}">{{.Name}}</option>
        {{end}}
    </select>

    <button type="button" onclick="deleteHabit()">Delete</button>
</form>

<a href="/">Go back to the list of habits</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('delete-form').addEventListener('submit', function (event) {
    // Prevent the default form submission
    event.preventDefault();

    // Get the selected habit ID from the dropdown
    var habitId = document.getElementById('habit-select').value;

    // Construct the URL with the selected habit ID
    var url = '/habitdelete/' + habitId;

    // Submit the form with the constructed URL
    this.action = url;
    this.submit();
});
});

    function deleteHabit() {
        var habitSelect = document.getElementById("habit-select");
        var selectedHabitId = habitSelect.value;

        if (!selectedHabitId) {
            alert("Please select a habit to delete.");
            return;
        }

        fetch(`/habitdelete/${selectedHabitId}`, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
