<!-- views/index.html -->

<div>
  <table id="habitTable">
      <!-- Table headers -->
      <thead>
          <tr>
              <th>Habit Name</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
              <th>Repeat Count</th>
              <th>Target Repeat Count</th>
          </tr>
      </thead>
      <!-- Table body -->
      <tbody>
          {{range .Habits}}
          <tr class="habit-row" data-habit-id="{{.ID}}">
              <td>{{.Name}}</td>
              <td data-day-of-week="Monday" class="{{if .Monday}}completed{{end}}"></td>
              <td data-day-of-week="Tuesday" class="{{if .Tuesday}}completed{{end}}"></td>
              <td data-day-of-week="Wednesday" class="{{if .Wednesday}}completed{{end}}"></td>
              <td data-day-of-week="Thursday" class="{{if .Thursday}}completed{{end}}"></td>
              <td data-day-of-week="Friday" class="{{if .Friday}}completed{{end}}"></td>
              <td data-day-of-week="Saturday" class="{{if .Saturday}}completed{{end}}"></td>
              <td data-day-of-week="Sunday" class="{{if .Sunday}}completed{{end}}"></td>
              <td>{{.RepeatCount}}</td>
              <td>{{.TargetRepeatCount}}</td>
          </tr>
          {{end}}
      </tbody>
  </table>
</div>
